{% block footer %}
    <footer class="main-footer">
        <strong>Copyright &copy; {{ "now"|date('Y') }}  <a href="#">Appointment</a>.</strong> All rights reserved.
    </footer>

    </div>
<!-- ./wrapper -->
{% endblock %}

